{% extends "adminbase.html" %}{% block content %}
<!-- <br>

<style>
	th,
	td {
		padding: 10px;
	}
</style>
<center>
	<div style="margin: 50px">
		<hr />
        <h2 style="text-align: center; margin-top: 50px"><b>Added Stock</b></h2><br>
		<hr />
		{% if data %}
		<table border="1" style="margin: 50px; width: 90%" class="table table-center text-center">
			<tr>
				<td><b>Staff Name</b></td>
				<td><b>Part Name</b></td>
				<td><b>Part Manufactures</b></td>
				<td><b>Price</b></td>
				<td><b>No Of Stock</b></td>
				<td><b>Warranty In Months</b></td>
				<td><b>Part Image</b></td>
				<td><b>Date Updated</b></td>
				<td><b>Delete</b></td>
			</tr>
			{% for d in data %}
			<tr>
				<td>{{d.sid.fk2.first_name}}</td>
				<td>{{d.partname}}</td>
				<td>{{d.partmanufactures}}</td>
				<td>{{d.partprice}}</td>
				<td>{{d.partcount}}</td>
				<td>{{d.partwarranty}} Months</td>
				<td><img src="/static/media/{{d.partimage}}" height="100px" width="100px"/></td>
				<td>{{d.date}}</td>
				<td><a href="/admindeletestock?stkid={{d.id}}"><button class="btn btn-danger btn-style mt-sm-3 mt-3">Delete</button></a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<h3 style="text-align: center; margin-top: 50px">No Records</h3>
		{% endif %}
		<hr />
	</div>
</center>


<br> -->
<section id="cards" class="cards section light-background">

	<div class="container">
		<h2 class="text-uppercase" style="color: rgb(5, 74, 83);"><b>Added Stock</b></h2>
	  <div class="row no-gutters">
		{% if data %}
		{% for d in data %}
		<div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="100">
		  <span>{{d.sid.fk2.first_name}}</span>
		  <h4>Part-Name: {{d.partname}} <br>Manufacturer: {{d.partmanufactures}} <br>Price: {{d.partprice}}  <br>Count: {{d.partcount}} <br>Warranty: {{d.partwarranty}} Months <br><img src="/static/media/{{d.partimage}}" height="150px" width="200px"/><br>{{d.date}} </h4>
		  <p><a href="/admindeletestock?stkid={{d.id}}"><button class="btn btn-warning btn-style mt-sm-3 mt-3">Delete</button></a>
		  </p>
		</div><!-- End Card Item -->
		{% endfor %}
		{% else %}
		<h3 style="text-align: center; margin-top: 50px">No Records</h3>
		{% endif %}
		
	  </div>

	</div>

  </section><!-- /Cards Section -->
{% endblock %}
